*.class

# Package Files #
*.jar
*.war
*.ear

target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA #
/.idea
*.iml

infrastructure/cloudformation/config

test/
Kinesis-Load-Generator/dependency-reduced-pom.xml
infrastructure/PutRateLimitFunction/dist/
infrastructure/PutRateLimitFunction/node_modules/
!script-load-generator/KinesisScalingUtils.jar-complete.jar